{
  "presets": ["next/babel"],
  "plugins": [
    [
      // "styled-components",
      "emotion",
      // {
      //   "ssr": true,
      //   "displayName": true,
      //   "preprocess": false
      // }
    ]
  ]
}